<div class="d-flex" data-storey="{{storeyName}}">
    <div class="col-{{css}}-empty" data-id="{{id}}"></div>
    <div class="slab-container">
        <div class="fbok"></div>
        <div class="col {{css}} d-flex align-items-center" data-id="{{id}}">
            <div class="input-group input-element">
                <input name="elementHeight" type="text" class="form-control" id="{{id}}" placeholder="Höhe eingeben"
                    value="{{elementHeight}}" data-type="{{levelType}}" />
                <div class="input-group-append">
                    <span class="input-group-text">m</span>
                </div>
            </div>
        </div>
    </div>
</div>