<table class="{{tableStyle}}" data-id="{{eNameJS}}">
    <thead class="{{theadStyle}}">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Typ</th>
            <th scope="col">Dämmung</th>
            <th scope="col">Dicke</th>
            <th scope="col">Abdichtung</th>
            <th scope="col">Kommentar</th>
            <th scope="col">-</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle">
        {{#each typesCollection}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{Name}}</td>
            <td>{{LV_12_Typ_table}}</td>
            <td>{{LV_12_Daemmung}}</td>
            <td>{{LV_12_Daemmungsdicke}}</td>
            <td>{{LV_12_Abdichtung}}</td>
            <td>{{R_Typ_Kommentar}}</td>
            <td><a href="#" id="tr-delete" class="tr-delete" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconDelete}}}
                </a></td>
            <td><a href="#" id="tr-edit" class="tr-edit" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconEdit}}}
                </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>