<table class="{{tableStyle}}" data-id="{{eNameJS}}">
    <thead class="{{theadStyle}}">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">D-Stein</th>
            <th scope="col">Schutz</th>
            <th scope="col">Plan</th>
            <th scope="col">BeST-Ausf.</th>
            <th scope="col">PoBe-FKL</th>
            <th scope="col">Kommentar</th>
            <th scope="col">-</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle">
        {{#each typesCollection}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{Name}}</td>
            <td>{{LV_08_Dicke}}</td>
            <td>{{LV_08_Schutzwirkung}}</td>
            <td>{{LV_08_Planziegel_UI}}</td>
            <td>{{LV_08_Betonstein_Ausführung}}</td>
            <td>{{LV_08_Porenbeton_Festigkeitsklasse}}</td>
            <td>{{R_Typ_Kommentar}}</td>
            <td><a href="#" id="tr-delete" class="tr-delete" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconDelete}}}
                </a></td>
            <td><a href="#" id="tr-edit" class="tr-edit" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconEdit}}}
                </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>