<table class="{{tableStyle}}" data-id="{{eNameJS}}">
    <thead class="{{theadStyle}}">
        <tr>
            <th scope="col">#</th>
            <th scope="col">LG</th>
            <th scope="col">Name</th>
            <th scope="col">ME</th>
            <th scope="col">Höhe</th>
            <th scope="col">Kurztext</th>
            <th scope="col">-</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody class="text-center align-middle">
        {{#each typesCollection}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{LV_Gewerk}}</td>
            <td>{{Name}}</td>
            <td>{{LV_Mengeneinheit}}</td>
            <td>{{Q_Hoehe}}</td>
            <td>{{LV_Kurztext}}</td>
            <td><a href="#" id="tr-delete" class="tr-delete" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconDelete}}}
                </a></td>
            <td><a href="#" id="tr-edit" class="tr-edit" data-trID="{{@index}}" data-id="{{eNameJS}}">
                    {{{iconEdit}}}
                </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>